/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
  
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
    a:hover, a:focus {
        background-color:transparent !important;
        color: currentColor !important;
        text-decoration: none;
        transition: all 0.3s;
    }
    #user:hover, #user:focus {
        background-color: transparent !important;
        color: #fff !important;
        text-decoration: none;
        transition: all 0.3s;
    }

.navbar {
    padding: 15px 10px;
    background-color:  red !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
  
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    margin-left: -250px;
    box-shadow:5px 1px 3px #ddd;
    /* ---------------------------------------------------
    SIDEBAR STYLE
            transform-origin: bottom left;
       
----------------------------------------------------- */
}

    #sidebar.active {
        margin-left:0px;
        /* ---------------------------------------------------
    SIDEBAR STYLE
            transform-origin: bottom left;
             margin-left: -250px;
        transform: rotateY(100deg);
----------------------------------------------------- */
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.focus > a, a[aria-expanded="true"] {
        color: #fff;
        background: #e7e7e7;
    }


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.item-content {
    align-self: center;
    margin:  0px !important;
    margin-right: 32px !important;
    height: 24px !important;
    width: 24px !important;
    display: inline-flex;
   
}
.item-text {
    margin-top: -2rem
}
.item-action {
   
    margin: 0px !important;
    margin-right: 32px !important;
    height: 24px !important;
    width: 24px !important;
    display: inline-flex;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

    #sidebarCollapse span {
     
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.2s;
    }
        #sidebarCollapse span:first-of-type,
        #sidebarCollapse span:nth-of-type(2),
        #sidebarCollapse span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
            background-color: white;
        }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

        #sidebarCollapse.active span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse.active span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse.active span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
            background-color: white;
        }
        


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

.footer {
    position: fixed;
    bottom: 0;
    height: 35px;
    background-color: red;
    width: calc(100% - 210px);
    display: block
}
.footer.active {
    
    width: calc(100% - 290px);
    
}
.link-layout:hover {
    color: #7386D5 !important;
    text-decoration: none;
}
@media (max-width: 768px) {
    #sidebar {
            margin-left: -250px;
        }

            #sidebar.active {
                margin-left: 0;
            }
        #sidebarCollapse span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
            background-color: white;
        }

        #sidebarCollapse span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
            background-color: white;
        }


        #sidebarCollapse.active span {
            transform: none;
            opacity: 1;
            margin: 5px auto;
            background-color: white;
        }
        
    }
