@{
    ViewBag.Title = "Home Page";
}
<style>
    .vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
       
    }



    .post-content {
        background-color: red;
        opacity: .9;
        margin: -80% 10px 10px 10px;
        position: relative;
    }
</style >
   
    
<div  class="row vertical-align">
    <div class="col-xs-8">
        <div style="height:16rem;margin-top:8rem;">
            <div class="col-lg-6" style="height:100%;">
                <div class="thumbnail" style="height: 100%;opacity: .8; ">

                    <a href="../Usuario/Index" style="text-decoration:none">
                        <img style="border-radius:50%;height:180px;width:180px;margin-top:2rem;" src="~/Image/Family.png" />


                        <div style="border-radius:5px;padding:5px !important" class="caption post-content">
                            <h3 style="text-align:center;color:white">Ciudadanos!</h3>

                        </div>
                    </a>
                </div>
                
            </div>
            <div class="col-lg-6" style="height:100%;">
                <div class="thumbnail" style=" height: 100%; opacity: .8;">

                    <a href="../Triaje/Index" style="text-decoration:none">
     
                        <img style="border-radius:50%;height:180px;width:180px;margin-top:2rem;" src="~/Image/triaje.jpg" />

                   
                    <div style="border-radius:5px;padding:5px !important" class="caption post-content">
                        <h3 style="text-align:center;color:white">Triaje!</h3>

                    </div>
                    </a>

                </div>
            </div>
        </div>
        
    </div>
</div>


    
   